.hide {
  display: none;
}
.modalOpen .el-notification {
  z-index: 99999999 !important;
}
.modal.fade.in {
  opacity: 1;
}
.modal-backdrop.fade.in {
  opacity: 0.5;
}
.alert {
  left: 25%;
  position: fixed;
  top: 35px;
  z-index: 999;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
body .el-select-dropdown {
  z-index: 999999 !important;
}
.el-select__tags .el-select__input {
  appeance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.el-custom-select .el-select.el-select--large {
  display: block;
}
.el-custom-select .el-select .el-input__suffix {
  background-color: #f8f8f8;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  height: 70%;
  line-height: 34px;
  top: 14.5%;
  width: 35px;
}
.el-custom-select .el-select .el-input__inner[readonly] {
  background-color: #fff;
}
.el-custom-select .el-select .el-input__inner {
  color: #999;
  height: 54px;
}
.el-custom-select .el-select i.el-input__icon {
  line-height: 34px;
}
.el-custom-select .el-select .el-input.is-focus .el-input__inner {
  border-color: #7470d2;
}
.wpcm-datetime-view .el-date-editor.el-input,
.wpcm-datetime-view .el-date-editor.el-input__inner {
  width: 100%;
}
.el-input-number {
  margin-left: 11px;
  width: 125px;
}
.el-input-number input.el-input__inner {
  border: 1px solid #e6e6e6;
  border-radius: 0;
  height: 50px;
  padding: 0 20px;
}
.el-input-number .el-input-number__decrease {
  left: -11px;
}
.el-input-number .el-input-number__increase {
  right: -11px;
}
.el-input-number .el-input-number__decrease,
.el-input-number .el-input-number__increase {
  background: #f6f6f6;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  color: #69696a;
  font-size: 12px;
  height: 30px;
  line-height: 26px;
  top: 50%;
  transform: translateY(-50%);
  width: 26px;
}
.el-input-number
  .el-input-number__decrease:hover:not(.is-disabled)
  ~ .el-input
  .el-input__inner:not(.is-disabled),
.el-input-number
  .el-input-number__increase:hover:not(.is-disabled)
  ~ .el-input
  .el-input__inner:not(.is-disabled) {
  border-color: #7470d2;
}
.wpcm-wrapper .el-button {
  line-height: 1;
}
.wpcm-wrapper .display-block .el-checkbox {
  display: block;
}
.wpcm-ajax-processing {
  -webkit-animation: wpcm-spin 2s linear infinite;
  animation: wpcm-spin 2s linear infinite;
  background-image: url("/images/refresh-button.svg");
  display: inline-block;
  height: 20px;
  width: 20px;
}
.wpcm-ajax-processing.white {
  background-image: url("/images/refresh-button-white.svg");
}
.action-response {
  padding: 5px 10px;
}
.action-response.success {
  background-color: #d4edda;
  border-color: #d4edda;
  color: #155724;
}
.action-response.danger {
  background-color: #f8d7da;
  border-color: #f8d7da;
  color: #721c24;
}
@-webkit-keyframes wpcm-spin {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes wpcm-spin {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
