.elementor-2995 .elementor-element.elementor-element-7b4f70c>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-2995 .elementor-element.elementor-element-7b4f70c {
    padding: 95px 0px 75px 0px;
}

.elementor-2995 .elementor-element.elementor-element-0cf3961>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-2995 .elementor-element.elementor-element-ad7d067 .elementor-heading-title {
    color: #333333;
    font-family: "Quicksand", Sans-serif;
    font-size: 50px;
    font-weight: 900;
    line-height: 55px;
}

.elementor-2995 .elementor-element.elementor-element-ad7d067>.elementor-widget-container {
    margin: 0px 0px 10px 0px;
}

.elementor-2995 .elementor-element.elementor-element-ad7d067 {
    width: var(--container-widget-width, 82%);
    max-width: 82%;
    --container-widget-width: 82%;
    --container-widget-flex-grow: 0;
}

.elementor-2995 .elementor-element.elementor-element-5d9f6d7 .elementor-heading-title {
    color: #666666;
    font-family: "Quicksand", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.elementor-2995 .elementor-element.elementor-element-5d9f6d7 {
    width: var(--container-widget-width, 83%);
    max-width: 83%;
    --container-widget-width: 83%;
    --container-widget-flex-grow: 0;
}

.elementor-2995 .elementor-element.elementor-element-6a9800a .elementor-button {
    font-family: "Quicksand", Sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: #F56A01;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #F56A01;
    border-radius: 50px 50px 50px 50px;
    padding: 22px 40px 22px 40px;
}

.elementor-2995 .elementor-element.elementor-element-6a9800a .elementor-button:hover,
.elementor-2995 .elementor-element.elementor-element-6a9800a .elementor-button:focus {
    background-color: #6B195A;
}

.elementor-2995 .elementor-element.elementor-element-6a9800a>.elementor-widget-container {
    margin: 44px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2995 .elementor-element.elementor-element-f620e10>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-2995 .elementor-element.elementor-element-905c39c {
    padding: 0px 0px 95px 0px;
}

.elementor-2995 .elementor-element.elementor-element-f2bc3a5:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-2995 .elementor-element.elementor-element-f2bc3a5>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #DCF9E2;
}

.elementor-2995 .elementor-element.elementor-element-f2bc3a5>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 27px 0px 20px;
    --e-column-margin-right: 27px;
    --e-column-margin-left: 20px;
    padding: 56px 0px 56px 0px;
}

.elementor-2995 .elementor-element.elementor-element-f2bc3a5>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2995 .elementor-element.elementor-element-b98ca9c .elementor-counter-number-wrapper {
    color: #51E06C;
    font-family: "Quicksand", Sans-serif;
    font-size: 80px;
    font-weight: 700;
}

.elementor-2995 .elementor-element.elementor-element-b98ca9c .elementor-counter-title {
    color: #131313;
    font-family: "Quicksand", Sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 46px;
}

.elementor-2995 .elementor-element.elementor-element-574c2a8:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-2995 .elementor-element.elementor-element-574c2a8>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #CCEBFD;
}

.elementor-2995 .elementor-element.elementor-element-574c2a8>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 27px 0px 20px;
    --e-column-margin-right: 27px;
    --e-column-margin-left: 20px;
    padding: 56px 0px 56px 0px;
}

.elementor-2995 .elementor-element.elementor-element-574c2a8>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2995 .elementor-element.elementor-element-9780e8a .elementor-counter-number-wrapper {
    color: #019CF5;
    font-family: "Quicksand", Sans-serif;
    font-size: 80px;
    font-weight: 700;
}

.elementor-2995 .elementor-element.elementor-element-9780e8a .elementor-counter-title {
    color: #131313;
    font-family: "Quicksand", Sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 46px;
}

.elementor-2995 .elementor-element.elementor-element-08bc574:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-2995 .elementor-element.elementor-element-08bc574>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FDE1CC;
}

.elementor-2995 .elementor-element.elementor-element-08bc574>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 27px 0px 20px;
    --e-column-margin-right: 27px;
    --e-column-margin-left: 20px;
    padding: 56px 0px 56px 0px;
}

.elementor-2995 .elementor-element.elementor-element-08bc574>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2995 .elementor-element.elementor-element-163ad8e .elementor-counter-number-wrapper {
    color: #F56A01;
    font-family: "Quicksand", Sans-serif;
    font-size: 80px;
    font-weight: 700;
}

.elementor-2995 .elementor-element.elementor-element-163ad8e .elementor-counter-title {
    color: #131313;
    font-family: "Quicksand", Sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 46px;
}

.elementor-2995 .elementor-element.elementor-element-8955f92:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-2995 .elementor-element.elementor-element-8955f92>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F6EBF6;
}

.elementor-2995 .elementor-element.elementor-element-8955f92>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 20px 0px 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
    padding: 56px 0px 56px 0px;
}

.elementor-2995 .elementor-element.elementor-element-8955f92>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2995 .elementor-element.elementor-element-c7ea732 .elementor-counter-number-wrapper {
    color: #A93EA8;
    font-family: "Quicksand", Sans-serif;
    font-size: 80px;
    font-weight: 700;
}

.elementor-2995 .elementor-element.elementor-element-c7ea732 .elementor-counter-title {
    color: #131313;
    font-family: "Quicksand", Sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 46px;
}

.elementor-2995 .elementor-element.elementor-element-27861db:not(.elementor-motion-effects-element-type-background),
.elementor-2995 .elementor-element.elementor-element-27861db>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFAE1;
}

.elementor-2995 .elementor-element.elementor-element-27861db {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 65px 0px 100px 0px;
}

.elementor-2995 .elementor-element.elementor-element-27861db>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2995 .elementor-element.elementor-element-ce249f7>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-2995 .elementor-element.elementor-element-891a55e {
    text-align: center;
}

.elementor-2995 .elementor-element.elementor-element-891a55e .elementor-heading-title {
    color: #082D2C;
    font-family: "Quicksand", Sans-serif;
    font-size: 45px;
    font-weight: 700;
}

.elementor-2995 .elementor-element.elementor-element-891a55e>.elementor-widget-container {
    margin: 0px 0px 18px 0px;
}

.elementor-2995 .elementor-element.elementor-element-e995bf3>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-2995 .elementor-element.elementor-element-5d033bb.elementor-position-right .elementor-image-box-img {
    margin-left: 0px;
}

.elementor-2995 .elementor-element.elementor-element-5d033bb.elementor-position-left .elementor-image-box-img {
    margin-right: 0px;
}

.elementor-2995 .elementor-element.elementor-element-5d033bb.elementor-position-top .elementor-image-box-img {
    margin-bottom: 0px;
}

.elementor-2995 .elementor-element.elementor-element-5d033bb .elementor-image-box-wrapper .elementor-image-box-img {
    width: 100%;
}

.elementor-2995 .elementor-element.elementor-element-5d033bb .elementor-image-box-img img {
    border-radius: 0px;
    transition-duration: 0.3s;
}

.elementor-2995 .elementor-element.elementor-element-5d033bb .elementor-image-box-wrapper {
    text-align: left;
}

.elementor-2995 .elementor-element.elementor-element-5d033bb .elementor-image-box-title {
    margin-bottom: 1px;
    color: #082D2C;
    font-family: "Quicksand", Sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
}

.elementor-2995 .elementor-element.elementor-element-5d033bb .elementor-image-box-description {
    color: #F56A01;
    font-family: "Quicksand", Sans-serif;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.elementor-2995 .elementor-element.elementor-element-5d033bb>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-2995 .elementor-element.elementor-element-6433d5c>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-2995 .elementor-element.elementor-element-3cd63bf.elementor-position-right .elementor-image-box-img {
    margin-left: 0px;
}

.elementor-2995 .elementor-element.elementor-element-3cd63bf.elementor-position-left .elementor-image-box-img {
    margin-right: 0px;
}

.elementor-2995 .elementor-element.elementor-element-3cd63bf.elementor-position-top .elementor-image-box-img {
    margin-bottom: 0px;
}

.elementor-2995 .elementor-element.elementor-element-3cd63bf .elementor-image-box-wrapper .elementor-image-box-img {
    width: 100%;
}

.elementor-2995 .elementor-element.elementor-element-3cd63bf .elementor-image-box-img img {
    border-radius: 0px;
    transition-duration: 0.3s;
}

.elementor-2995 .elementor-element.elementor-element-3cd63bf .elementor-image-box-wrapper {
    text-align: left;
}

.elementor-2995 .elementor-element.elementor-element-3cd63bf .elementor-image-box-title {
    margin-bottom: 1px;
    color: #082D2C;
    font-family: "Quicksand", Sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
}

.elementor-2995 .elementor-element.elementor-element-3cd63bf .elementor-image-box-description {
    color: #F56A01;
    font-family: "Quicksand", Sans-serif;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.elementor-2995 .elementor-element.elementor-element-3cd63bf>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-2995 .elementor-element.elementor-element-c9ecb90>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-2995 .elementor-element.elementor-element-03bcdc7.elementor-position-right .elementor-image-box-img {
    margin-left: 0px;
}

.elementor-2995 .elementor-element.elementor-element-03bcdc7.elementor-position-left .elementor-image-box-img {
    margin-right: 0px;
}

.elementor-2995 .elementor-element.elementor-element-03bcdc7.elementor-position-top .elementor-image-box-img {
    margin-bottom: 0px;
}

.elementor-2995 .elementor-element.elementor-element-03bcdc7 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 100%;
}

.elementor-2995 .elementor-element.elementor-element-03bcdc7 .elementor-image-box-img img {
    border-radius: 0px;
    transition-duration: 0.3s;
}

.elementor-2995 .elementor-element.elementor-element-03bcdc7 .elementor-image-box-wrapper {
    text-align: left;
}

.elementor-2995 .elementor-element.elementor-element-03bcdc7 .elementor-image-box-title {
    margin-bottom: 1px;
    color: #082D2C;
    font-family: "Quicksand", Sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
}

.elementor-2995 .elementor-element.elementor-element-03bcdc7 .elementor-image-box-description {
    color: #F56A01;
    font-family: "Quicksand", Sans-serif;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.elementor-2995 .elementor-element.elementor-element-03bcdc7>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-2995 .elementor-element.elementor-element-17db5ea:not(.elementor-motion-effects-element-type-background),
.elementor-2995 .elementor-element.elementor-element-17db5ea>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #6B195A;
}

.elementor-2995 .elementor-element.elementor-element-17db5ea {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 25px 0px 100px 0px;
}

.elementor-2995 .elementor-element.elementor-element-17db5ea>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2995 .elementor-element.elementor-element-6599e78>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-2995 .elementor-element.elementor-element-lifeline_reviews>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-2995 .elementor-element.elementor-element-c982e0a {
    /* padding: 120px 0px 120px 0px; */
    padding: 0px 0px 60px 0px;
}

.elementor-2995 .elementor-element.elementor-element-5eca40a>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-2995 .elementor-element.elementor-element-e7a7f9a {
    text-align: center;
    width: var(--container-widget-width, 75%);
    max-width: 75%;
    --container-widget-width: 75%;
    --container-widget-flex-grow: 0;
}

.elementor-2995 .elementor-element.elementor-element-e7a7f9a .elementor-heading-title {
    color: #111111;
    font-family: "Quicksand", Sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 55px;
}

.elementor-2995 .elementor-element.elementor-element-e7a7f9a>.elementor-widget-container {
    margin: 0px 0px 28px 0px;
    padding: 0% 13% 0% 13%;
}

.elementor-2995 .elementor-element.elementor-element-e6d7b30 {
    padding: 15px 0px 65px 0px;
}

.elementor-2995 .elementor-element.elementor-element-3c6f0ff>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-2995 .elementor-element.elementor-element-3c6f0ff>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-2995 .elementor-element.elementor-element-a6a108c .elementor-icon-wrapper {
    text-align: center;
}

.elementor-2995 .elementor-element.elementor-element-a6a108c.elementor-view-stacked .elementor-icon {
    background-color: #019CF5;
}

.elementor-2995 .elementor-element.elementor-element-a6a108c.elementor-view-framed .elementor-icon,
.elementor-2995 .elementor-element.elementor-element-a6a108c.elementor-view-default .elementor-icon {
    color: #019CF5;
    border-color: #019CF5;
}

.elementor-2995 .elementor-element.elementor-element-a6a108c.elementor-view-framed .elementor-icon,
.elementor-2995 .elementor-element.elementor-element-a6a108c.elementor-view-default .elementor-icon svg {
    fill: #019CF5;
}

.elementor-2995 .elementor-element.elementor-element-a6a108c .elementor-icon {
    font-size: 70px;
    padding: 13px;
}

.elementor-2995 .elementor-element.elementor-element-1813fd8 {
    text-align: center;
}

.elementor-2995 .elementor-element.elementor-element-1813fd8 .elementor-heading-title {
    color: #dede62;
    font-family: "Quicksand", Sans-serif;
    font-size: 30px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
}

.elementor-2995 .elementor-element.elementor-element-1813fd8>.elementor-widget-container {
    margin: -2px 0px -2px 0px;
}

.elementor-2995 .elementor-element.elementor-element-3849c85 {
    text-align: center;
    width: var(--container-widget-width, 77%);
    max-width: 77%;
    --container-widget-width: 77%;
    --container-widget-flex-grow: 0;
}

.elementor-2995 .elementor-element.elementor-element-3849c85 .elementor-heading-title {
    color: #666666;
    font-family: "Quicksand", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-2995 .elementor-element.elementor-element-a957f02>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-2995 .elementor-element.elementor-element-a957f02>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-2995 .elementor-element.elementor-element-8411554 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-2995 .elementor-element.elementor-element-8411554.elementor-view-stacked .elementor-icon {
    background-color: #90ee90;
}

.elementor-2995 .elementor-element.elementor-element-8411554.elementor-view-framed .elementor-icon,
.elementor-2995 .elementor-element.elementor-element-8411554.elementor-view-default .elementor-icon {
    color: #F56A01;
    border-color: #F56A01;
}

.elementor-2995 .elementor-element.elementor-element-8411554.elementor-view-framed .elementor-icon,
.elementor-2995 .elementor-element.elementor-element-8411554.elementor-view-default .elementor-icon svg {
    fill: #F56A01;
}

.elementor-2995 .elementor-element.elementor-element-8411554 .elementor-icon {
    font-size: 70px;
    padding: 13px;
}

.elementor-2995 .elementor-element.elementor-element-3f4dba0 {
    text-align: center;
}

.elementor-2995 .elementor-element.elementor-element-3f4dba0 .elementor-heading-title {
    color: #90ee90;
    font-family: "Quicksand", Sans-serif;
    font-size: 30px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
}

.elementor-2995 .elementor-element.elementor-element-3f4dba0>.elementor-widget-container {
    margin: -2px 0px -2px 0px;
}

.elementor-2995 .elementor-element.elementor-element-82b1df0 {
    text-align: center;
    width: var(--container-widget-width, 77%);
    max-width: 77%;
    --container-widget-width: 77%;
    --container-widget-flex-grow: 0;
}

.elementor-2995 .elementor-element.elementor-element-82b1df0 .elementor-heading-title {
    color: #666666;
    font-family: "Quicksand", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-2995 .elementor-element.elementor-element-3c3128d>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-2995 .elementor-element.elementor-element-3c3128d>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-2995 .elementor-element.elementor-element-36e713c .elementor-icon-wrapper {
    text-align: center;
}

.elementor-2995 .elementor-element.elementor-element-36e713c.elementor-view-stacked .elementor-icon {
    background-color: #00bbf0;
}

.elementor-2995 .elementor-element.elementor-element-36e713c.elementor-view-framed .elementor-icon,
.elementor-2995 .elementor-element.elementor-element-36e713c.elementor-view-default .elementor-icon {
    color: #A93EA8;
    border-color: #A93EA8;
}

.elementor-2995 .elementor-element.elementor-element-36e713c.elementor-view-framed .elementor-icon,
.elementor-2995 .elementor-element.elementor-element-36e713c.elementor-view-default .elementor-icon svg {
    fill: #A93EA8;
}

.elementor-2995 .elementor-element.elementor-element-36e713c .elementor-icon {
    font-size: 70px;
    padding: 13px;
}

.elementor-2995 .elementor-element.elementor-element-e47a36d {
    text-align: center;
}

.elementor-2995 .elementor-element.elementor-element-e47a36d .elementor-heading-title {
    color: #39a9c8;
    font-family: "Quicksand", Sans-serif;
    font-size: 30px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
}

.elementor-2995 .elementor-element.elementor-element-e47a36d>.elementor-widget-container {
    margin: -2px 0px -2px 0px;
}

.elementor-2995 .elementor-element.elementor-element-6f2b348 {
    text-align: center;
    width: var(--container-widget-width, 77%);
    max-width: 77%;
    --container-widget-width: 77%;
    --container-widget-flex-grow: 0;
}

.elementor-2995 .elementor-element.elementor-element-6f2b348 .elementor-heading-title {
    color: #666666;
    font-family: "Quicksand", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-2995 .elementor-element.elementor-element-cfcc886>.elementor-container {
    min-height: 560px;
}

.elementor-2995 .elementor-element.elementor-element-cfcc886:not(.elementor-motion-effects-element-type-background),
.elementor-2995 .elementor-element.elementor-element-cfcc886>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("https://lifeline.webinane.com/wp-content/uploads/2020/12/abt-img2-2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-2995 .elementor-element.elementor-element-cfcc886 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2995 .elementor-element.elementor-element-cfcc886>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-2995 .elementor-element.elementor-element-5ba46a8.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-2995 .elementor-element.elementor-element-5ba46a8.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-2995 .elementor-element.elementor-element-5ba46a8>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-2995 .elementor-element.elementor-element-e7834f0 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-2995 .elementor-element.elementor-element-e7834f0.elementor-view-stacked .elementor-icon {
    background-color: #FFFFFF;
    color: #F56A01;
}

.elementor-2995 .elementor-element.elementor-element-e7834f0.elementor-view-framed .elementor-icon,
.elementor-2995 .elementor-element.elementor-element-e7834f0.elementor-view-default .elementor-icon {
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.elementor-2995 .elementor-element.elementor-element-e7834f0.elementor-view-framed .elementor-icon,
.elementor-2995 .elementor-element.elementor-element-e7834f0.elementor-view-default .elementor-icon svg {
    fill: #FFFFFF;
}

.elementor-2995 .elementor-element.elementor-element-e7834f0.elementor-view-framed .elementor-icon {
    background-color: #F56A01;
}

.elementor-2995 .elementor-element.elementor-element-e7834f0.elementor-view-stacked .elementor-icon svg {
    fill: #F56A01;
}

.elementor-2995 .elementor-element.elementor-element-e7834f0 .elementor-icon {
    font-size: 26px;
    padding: 52px;
}

body:not(.rtl) .elementor-2995 .elementor-element.elementor-element-e7834f0 {
    left: -0.191%;
}

body.rtl .elementor-2995 .elementor-element.elementor-element-e7834f0 {
    right: -0.191%;
}

.elementor-2995 .elementor-element.elementor-element-e7834f0 {
    top: 38.972%;
}

@media(max-width: 1024px) and (min-width:768px) {
    .elementor-2995 .elementor-element.elementor-element-0cf3961 {
        width: 100%;
    }

    .elementor-2995 .elementor-element.elementor-element-f620e10 {
        width: 100%;
    }

    .elementor-2995 .elementor-element.elementor-element-f2bc3a5 {
        width: 50%;
    }

    .elementor-2995 .elementor-element.elementor-element-574c2a8 {
        width: 50%;
    }

    .elementor-2995 .elementor-element.elementor-element-08bc574 {
        width: 50%;
    }

    .elementor-2995 .elementor-element.elementor-element-8955f92 {
        width: 50%;
    }

    .elementor-2995 .elementor-element.elementor-element-e995bf3 {
        width: 50%;
    }

    .elementor-2995 .elementor-element.elementor-element-6433d5c {
        width: 50%;
    }

    .elementor-2995 .elementor-element.elementor-element-c9ecb90 {
        width: 50%;
    }

    .elementor-2995 .elementor-element.elementor-element-3c6f0ff {
        width: 50%;
    }

    .elementor-2995 .elementor-element.elementor-element-a957f02 {
        width: 50%;
    }

    .elementor-2995 .elementor-element.elementor-element-3c3128d {
        width: 50%;
    }
}

@media(max-width: 1024px) {
    .elementor-section .elementor-container{
        justify-content: center;
    }

    .elementor-662 .elementor-element.elementor-element-630742a:not(.elementor-motion-effects-element-type-background), .elementor-662 .elementor-element.elementor-element-630742a > .elementor-motion-effects-container > .elementor-motion-effects-layer{
        height: auto;
        background-size: cover;
    }

    .elementor-662 .elementor-element.elementor-element-630742a:not(.elementor-motion-effects-element-type-background),
    .elementor-662 .elementor-element.elementor-element-630742a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        width: 100%;
    }

    .elementor-2995 .elementor-element.elementor-element-7b4f70c {
        padding: 50px 0px 70px 0px;
    }

    .elementor-2995 .elementor-element.elementor-element-ad7d067 .elementor-heading-title {
        font-size: 30px;
    }

    .elementor-2995 .elementor-element.elementor-element-ad7d067>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-2995 .elementor-element.elementor-element-ad7d067 {
        width: 100%;
        max-width: 100%;
    }

    .elementor-2995 .elementor-element.elementor-element-5d9f6d7 .elementor-heading-title {
        font-size: 17px;
        line-height: 29px;
    }

    .elementor-2995 .elementor-element.elementor-element-6a9800a .elementor-button {
        font-size: 14px;
        padding: 12px 20px 12px 20px;
    }

    .elementor-2995 .elementor-element.elementor-element-6a9800a>.elementor-widget-container {
        margin: 15px 0px 0px 0px;
    }

    .elementor-2995 .elementor-element.elementor-element-f620e10>.elementor-element-populated {
        margin: 30px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-2995 .elementor-element.elementor-element-1788238 img {
        width: 100%;
    }

    .elementor-2995 .elementor-element.elementor-element-905c39c {
        padding: 0px 0px 80px 0px;
    }

    .elementor-2995 .elementor-element.elementor-element-f2bc3a5>.elementor-element-populated,
    .elementor-2995 .elementor-element.elementor-element-f2bc3a5>.elementor-element-populated>.elementor-background-overlay,
    .elementor-2995 .elementor-element.elementor-element-f2bc3a5>.elementor-background-slideshow {
        border-radius: 0px 0px 0px 0px;
    }

    .elementor-2995 .elementor-element.elementor-element-f2bc3a5>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 50px 20px 50px 20px;
    }

    .elementor-2995 .elementor-element.elementor-element-b98ca9c .elementor-counter-number-wrapper {
        font-size: 55px;
    }

    .elementor-2995 .elementor-element.elementor-element-574c2a8>.elementor-element-populated,
    .elementor-2995 .elementor-element.elementor-element-574c2a8>.elementor-element-populated>.elementor-background-overlay,
    .elementor-2995 .elementor-element.elementor-element-574c2a8>.elementor-background-slideshow {
        border-radius: 0px 0px 0px 0px;
    }

    .elementor-2995 .elementor-element.elementor-element-574c2a8>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 50px 20px 50px 20px;
    }

    .elementor-2995 .elementor-element.elementor-element-9780e8a .elementor-counter-number-wrapper {
        font-size: 55px;
    }

    .elementor-2995 .elementor-element.elementor-element-08bc574>.elementor-element-populated,
    .elementor-2995 .elementor-element.elementor-element-08bc574>.elementor-element-populated>.elementor-background-overlay,
    .elementor-2995 .elementor-element.elementor-element-08bc574>.elementor-background-slideshow {
        border-radius: 0px 0px 0px 0px;
    }

    .elementor-2995 .elementor-element.elementor-element-08bc574>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 50px 20px 50px 20px;
    }

    .elementor-2995 .elementor-element.elementor-element-163ad8e .elementor-counter-number-wrapper {
        font-size: 55px;
    }

    .elementor-2995 .elementor-element.elementor-element-8955f92>.elementor-element-populated,
    .elementor-2995 .elementor-element.elementor-element-8955f92>.elementor-element-populated>.elementor-background-overlay,
    .elementor-2995 .elementor-element.elementor-element-8955f92>.elementor-background-slideshow {
        border-radius: 0px 0px 0px 0px;
    }

    .elementor-2995 .elementor-element.elementor-element-8955f92>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 50px 20px 50px 20px;
    }

    .elementor-2995 .elementor-element.elementor-element-c7ea732 .elementor-counter-number-wrapper {
        font-size: 55px;
    }

    .elementor-2995 .elementor-element.elementor-element-27861db {
        padding: 80px 0px 80px 0px;
    }

    .elementor-2995 .elementor-element.elementor-element-891a55e .elementor-heading-title {
        font-size: 30px;
    }

    .elementor-2995 .elementor-element.elementor-element-e995bf3>.elementor-element-populated {
        margin: 0px 0px 40px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-2995 .elementor-element.elementor-element-5d033bb .elementor-image-box-title {
        margin-bottom: 14px;
        font-size: 24px;
        line-height: 15px;
    }

    .elementor-2995 .elementor-element.elementor-element-5d033bb>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-2995 .elementor-element.elementor-element-3cd63bf .elementor-image-box-title {
        margin-bottom: 14px;
        font-size: 24px;
        line-height: 15px;
    }

    .elementor-2995 .elementor-element.elementor-element-3cd63bf>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-2995 .elementor-element.elementor-element-03bcdc7 .elementor-image-box-title {
        margin-bottom: 14px;
        font-size: 24px;
        line-height: 15px;
    }

    .elementor-2995 .elementor-element.elementor-element-03bcdc7>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-2995 .elementor-element.elementor-element-17db5ea {
        padding: 80px 0px 80px 0px;
    }

    .elementor-2995 .elementor-element.elementor-element-c982e0a {
        padding: 80px 0px 60px 0px;
    }

    .elementor-2995 .elementor-element.elementor-element-e7a7f9a .elementor-heading-title {
        font-size: 30px;
        line-height: 38px;
    }

    .elementor-2995 .elementor-element.elementor-element-3c6f0ff>.elementor-element-populated {
        margin: 0px 0px 40px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-2995 .elementor-element.elementor-element-1813fd8 .elementor-heading-title {
        font-size: 28px;
    }

    .elementor-2995 .elementor-element.elementor-element-1813fd8>.elementor-widget-container {
        margin: 0px 0px 12px 0px;
    }

    .elementor-2995 .elementor-element.elementor-element-a957f02>.elementor-element-populated {
        margin: 0px 0px 40px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-2995 .elementor-element.elementor-element-3f4dba0 .elementor-heading-title {
        font-size: 28px;
    }

    .elementor-2995 .elementor-element.elementor-element-3f4dba0>.elementor-widget-container {
        margin: 0px 0px 12px 0px;
    }

    .elementor-2995 .elementor-element.elementor-element-3c3128d>.elementor-element-populated {
        margin: 0px 0px 40px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-2995 .elementor-element.elementor-element-e47a36d .elementor-heading-title {
        font-size: 28px;
    }

    .elementor-2995 .elementor-element.elementor-element-e47a36d>.elementor-widget-container {
        margin: 0px 0px 12px 0px;
    }

    .elementor-2995 .elementor-element.elementor-element-cfcc886>.elementor-container {
        min-height: 480px;
    }

    .elementor-2995 .elementor-element.elementor-element-e7834f0 .elementor-icon {
        font-size: 18px;
    }
}

@media(max-width: 767px) {
    .elementor-2995 .elementor-element.elementor-element-7b4f70c {
        padding: 50px 0px 45px 0px;
    }

    .elementor-2995 .elementor-element.elementor-element-ad7d067 {
        text-align: center;
        width: 100%;
        max-width: 100%;
    }

    .elementor-2995 .elementor-element.elementor-element-ad7d067 .elementor-heading-title {
        font-size: 25px;
        line-height: 33px;
    }

    .elementor-2995 .elementor-element.elementor-element-ad7d067>.elementor-widget-container {
        margin: 0px 0px 5px 0px;
    }

    .elementor-2995 .elementor-element.elementor-element-5d9f6d7 {
        text-align: center;
        width: 100%;
        max-width: 100%;
    }

    .elementor-2995 .elementor-element.elementor-element-5d9f6d7 .elementor-heading-title {
        font-size: 16px;
        line-height: 25px;
    }

    .elementor-2995 .elementor-element.elementor-element-6a9800a .elementor-button {
        font-size: 14px;
        padding: 17px 20px 17px 20px;
    }

    .elementor-2995 .elementor-element.elementor-element-6a9800a>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 20px 0px 0px 0px;
    }

    .elementor-2995 .elementor-element.elementor-element-f620e10>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0px;
    }

    .elementor-2995 .elementor-element.elementor-element-f620e10>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-2995 .elementor-element.elementor-element-1788238>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-2995 .elementor-element.elementor-element-905c39c {
        padding: 0px 0px 60px 0px;
    }

    .elementor-2995 .elementor-element.elementor-element-f2bc3a5 {
        width: 100%;
    }

    .elementor-2995 .elementor-element.elementor-element-f2bc3a5>.elementor-element-populated {
        margin: 0px 15px 20px 15px;
        --e-column-margin-right: 15px;
        --e-column-margin-left: 15px;
        padding: 30px 30px 30px 30px;
    }

    .elementor-2995 .elementor-element.elementor-element-574c2a8 {
        width: 100%;
    }

    .elementor-2995 .elementor-element.elementor-element-574c2a8>.elementor-element-populated {
        margin: 0px 15px 20px 15px;
        --e-column-margin-right: 15px;
        --e-column-margin-left: 15px;
        padding: 30px 30px 30px 30px;
    }

    .elementor-2995 .elementor-element.elementor-element-08bc574 {
        width: 100%;
    }

    .elementor-2995 .elementor-element.elementor-element-08bc574>.elementor-element-populated {
        margin: 0px 15px 20px 15px;
        --e-column-margin-right: 15px;
        --e-column-margin-left: 15px;
        padding: 30px 30px 30px 30px;
    }

    .elementor-2995 .elementor-element.elementor-element-8955f92 {
        width: 100%;
    }

    .elementor-2995 .elementor-element.elementor-element-8955f92>.elementor-element-populated {
        margin: 0px 15px 20px 15px;
        --e-column-margin-right: 15px;
        --e-column-margin-left: 15px;
        padding: 30px 30px 30px 30px;
    }

    .elementor-2995 .elementor-element.elementor-element-27861db {
        padding: 35px 0px 60px 0px;
    }

    .elementor-2995 .elementor-element.elementor-element-891a55e .elementor-heading-title {
        font-size: 25px;
        line-height: 50px;
    }

    .elementor-2995 .elementor-element.elementor-element-891a55e>.elementor-widget-container {
        margin: 15px 0px 0px 0px;
    }

    .elementor-2995 .elementor-element.elementor-element-e995bf3 {
        width: 100%;
    }

    .elementor-2995 .elementor-element.elementor-element-e995bf3>.elementor-element-populated {
        margin: 0px 0px 30px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-2995 .elementor-element.elementor-element-5d033bb .elementor-image-box-img {
        margin-bottom: 0px;
    }

    .elementor-2995 .elementor-element.elementor-element-5d033bb>.elementor-widget-container {
        margin: 0px 0px 10px 0px;
    }

    .elementor-2995 .elementor-element.elementor-element-6433d5c {
        width: 100%;
    }

    .elementor-2995 .elementor-element.elementor-element-6433d5c>.elementor-element-populated {
        margin: 0px 0px 30px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-2995 .elementor-element.elementor-element-3cd63bf .elementor-image-box-img {
        margin-bottom: 0px;
    }

    .elementor-2995 .elementor-element.elementor-element-3cd63bf>.elementor-widget-container {
        margin: 0px 0px 10px 0px;
    }

    .elementor-2995 .elementor-element.elementor-element-c9ecb90 {
        width: 100%;
    }

    .elementor-2995 .elementor-element.elementor-element-03bcdc7 .elementor-image-box-img {
        margin-bottom: 0px;
    }

    .elementor-2995 .elementor-element.elementor-element-03bcdc7>.elementor-widget-container {
        margin: 0px 0px 10px 0px;
    }

    .elementor-2995 .elementor-element.elementor-element-17db5ea {
        padding: 50px 0px 50px 0px;
    }

    .elementor-2995 .elementor-element.elementor-element-c982e0a {
        padding: 70px 0px 70px 0px;
    }

    .elementor-2995 .elementor-element.elementor-element-e7a7f9a .elementor-heading-title {
        font-size: 25px;
        line-height: 33px;
    }

    .elementor-2995 .elementor-element.elementor-element-e7a7f9a>.elementor-widget-container {
        margin: 0px 0px 10px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-2995 .elementor-element.elementor-element-3c6f0ff {
        width: 50%;
    }

    .elementor-2995 .elementor-element.elementor-element-3c6f0ff>.elementor-element-populated {
        margin: 0px 0px 30px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-2995 .elementor-element.elementor-element-1813fd8 {
        text-align: center;
    }

    .elementor-2995 .elementor-element.elementor-element-1813fd8 .elementor-heading-title {
        font-size: 24px;
        line-height: 30px;
    }

    .elementor-2995 .elementor-element.elementor-element-1813fd8>.elementor-widget-container {
        margin: 0px 0px 7px 0px;
    }

    .elementor-2995 .elementor-element.elementor-element-3849c85 {
        text-align: center;
    }

    .elementor-2995 .elementor-element.elementor-element-a957f02 {
        width: 50%;
    }

    .elementor-2995 .elementor-element.elementor-element-a957f02>.elementor-element-populated {
        margin: 0px 0px 30px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-2995 .elementor-element.elementor-element-3f4dba0 {
        text-align: center;
    }

    .elementor-2995 .elementor-element.elementor-element-3f4dba0 .elementor-heading-title {
        font-size: 24px;
        line-height: 30px;
    }

    .elementor-2995 .elementor-element.elementor-element-3f4dba0>.elementor-widget-container {
        margin: 0px 0px 7px 0px;
    }

    .elementor-2995 .elementor-element.elementor-element-82b1df0 {
        text-align: center;
    }

    .elementor-2995 .elementor-element.elementor-element-3c3128d {
        width: 50%;
    }

    .elementor-2995 .elementor-element.elementor-element-3c3128d>.elementor-element-populated {
        margin: 0px 0px 30px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-2995 .elementor-element.elementor-element-e47a36d {
        text-align: center;
    }

    .elementor-2995 .elementor-element.elementor-element-e47a36d .elementor-heading-title {
        font-size: 24px;
        line-height: 30px;
    }

    .elementor-2995 .elementor-element.elementor-element-e47a36d>.elementor-widget-container {
        margin: 0px 0px 7px 0px;
    }

    .elementor-2995 .elementor-element.elementor-element-6f2b348 {
        text-align: center;
    }

    .elementor-2995 .elementor-element.elementor-element-cfcc886>.elementor-container {
        min-height: 400px;
    }

    .elementor-2995 .elementor-element.elementor-element-e7834f0 .elementor-icon {
        font-size: 20px;
    }
}


/* Start custom CSS for counter, class: .elementor-element-c7ea732 */

.elementor-counter .elementor-counter-number-suffix {
    text-align: left;
    font-size: 60px;
    margin-top: -11px;
}


/* End custom CSS */


/* Start custom CSS for section, class: .elementor-element-4c12bd5 */

.team-custom .elementor-image-box-content {
    background-color: #fff;
    padding: 21px 0px 30px 33px !important;
}

.team-custom .elementor-image-box-img img {
    width: 100%;
}

.elementor-image-box-wrapper {
    box-shadow: 0px 0px 15px 6px #f4efd7;
}


/* End custom CSS */


/* Start custom CSS for Reviews, class: .elementor-element-lifeline_reviews */

.elementor-2995 .elementor-element.elementor-element-lifeline_reviews .slick-dots li.slick-active button {
    margin-bottom: 10px;
    height: 40px;
    border-radius: 100px;
    border: 0;
}

.elementor-2995 .elementor-element.elementor-element-lifeline_reviews .slick-slider .slick-dots li button {
    border: unset;
}

.elementor-2995 .elementor-element.elementor-element-lifeline_reviews .reviews-slider .review-media-body span {
    color: #00b3ac;
}


/* End custom CSS */


/* Start custom CSS for section, class: .elementor-element-17db5ea */

.elementor-2995 .elementor-element.elementor-element-17db5ea .slick-list {
    overflow-y: hidden !important;
}

.elementor-2995 .elementor-element.elementor-element-17db5ea .review-media figure {
    margin-bottom: -60px !important;
}

.elementor-2995 .elementor-element.elementor-element-17db5ea .reviews-slider .review-media figure::before {
    background-color: #f56a01 !important;
}

.elementor-2995 .elementor-element.elementor-element-17db5ea .slick-slider .slick-dots li button {
    height: 12px !important;
    width: 12px !important;
}

.elementor-2995 .elementor-element.elementor-element-17db5ea .slick-dots li.slick-active button {
    margin-bottom: 0px;
    height: 8px !important;
    width: 43px !important;
    border-radius: 100px;
    border: 0;
}

.elementor-2995 .elementor-element.elementor-element-17db5ea .slick-slider .slick-dots li {
    margin: 0 5px !important;
}

.elementor-2995 .elementor-element.elementor-element-17db5ea .reviews-slider .review-media-body {
    padding-bottom: 75px;
    padding-top: 75px;
}

.elementor-2995 .elementor-element.elementor-element-17db5ea .reviews-slider .slick-dots {
    flex-direction: row !important;
}

.elementor-2995 .elementor-element.elementor-element-17db5ea .reviews-slider.default-style .slick-dots {
    right: 20% !important;
    top: 76%;
}

.elementor-2995 .elementor-element.elementor-element-17db5ea .reviews-slider .review-media-body span {
    color: #fff;
    font-weight: 700;
}


/* End custom CSS */


/* Start custom CSS for heading, class: .elementor-element-e7a7f9a */

.elementor-2995 .elementor-element.elementor-element-e7a7f9a {
    margin: auto
}


/* End custom CSS */


/* Start custom CSS for icon, class: .elementor-element-a6a108c */

.elementor-2995 .elementor-element.elementor-element-a6a108c.elementor-view-stacked .elementor-icon {
    background-color: #fefe7a;
    border: 6px solid #e0e07d;
}


/* End custom CSS */


/* Start custom CSS for heading, class: .elementor-element-3849c85 */

.elementor-2995 .elementor-element.elementor-element-3849c85 {
    margin: auto
}


/* End custom CSS */


/* Start custom CSS for column, class: .elementor-element-3c6f0ff */

@media (max-width: 430px) {
    .elementor-2995 .elementor-element.elementor-element-3c6f0ff {
        width: 100%;
    }
}


/* End custom CSS */


/* Start custom CSS for icon, class: .elementor-element-8411554 */

.elementor-2995 .elementor-element.elementor-element-8411554.elementor-view-stacked .elementor-icon {
    border: 6px solid #5bcf5b;
}


/* End custom CSS */


/* Start custom CSS for heading, class: .elementor-element-82b1df0 */

.elementor-2995 .elementor-element.elementor-element-82b1df0 {
    margin: auto
}


/* End custom CSS */


/* Start custom CSS for column, class: .elementor-element-a957f02 */

@media (max-width: 430px) {
    .elementor-2995 .elementor-element.elementor-element-a957f02 {
        width: 100%;
    }
}


/* End custom CSS */


/* Start custom CSS for icon, class: .elementor-element-36e713c */

.elementor-2995 .elementor-element.elementor-element-36e713c.elementor-view-stacked .elementor-icon {
    border: 6px solid #39a9c8;
}


/* End custom CSS */


/* Start custom CSS for heading, class: .elementor-element-6f2b348 */

.elementor-2995 .elementor-element.elementor-element-6f2b348 {
    margin: auto
}


/* End custom CSS */


/* Start custom CSS for column, class: .elementor-element-3c3128d */

@media (max-width: 430px) {
    .elementor-2995 .elementor-element.elementor-element-3c3128d {
        width: 100%;
    }
}


/* End custom CSS */


/* Start custom CSS for icon, class: .elementor-element-e7834f0 */

.pulse .elementor-icon {
    animation: shadow-pulse 2s infinite;
}

@keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 0 0px rgb(237, 239, 231);
    }

    100% {
        box-shadow: 0 0 0 23px rgba(0, 0, 0, 0);
    }
}

@keyframes shadow-pulse-big {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1);
    }

    100% {
        box-shadow: 0 0 0 70px rgba(0, 0, 0, 0);
    }
}


/* .about_mission {
    padding-top: unset !important;
} */


/* End custom CSS */