.elementor-3210 .elementor-element.elementor-element-f6a85e4 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 84px 0px 86px 0px;
}
.elementor-3210
  .elementor-element.elementor-element-79daed3.elementor-column
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-3210
  .elementor-element.elementor-element-5dff0d9
  .elementor-icon-wrapper {
  text-align: center;
}
.elementor-3210
  .elementor-element.elementor-element-5dff0d9.elementor-view-stacked
  .elementor-icon {
  background-color: #f56a01;
}
.elementor-3210
  .elementor-element.elementor-element-5dff0d9.elementor-view-framed
  .elementor-icon,
.elementor-3210
  .elementor-element.elementor-element-5dff0d9.elementor-view-default
  .elementor-icon {
  color: #f56a01;
  border-color: #f56a01;
}
.elementor-3210
  .elementor-element.elementor-element-5dff0d9.elementor-view-framed
  .elementor-icon,
.elementor-3210
  .elementor-element.elementor-element-5dff0d9.elementor-view-default
  .elementor-icon
  svg {
  fill: #f56a01;
}
.elementor-3210 .elementor-element.elementor-element-5dff0d9 .elementor-icon {
  font-size: 110px;
}
.elementor-3210
  .elementor-element.elementor-element-5dff0d9
  > .elementor-widget-container {
  padding: 0px 0px 5px 0px;
}
.elementor-3210 .elementor-element.elementor-element-899e763 {
  text-align: center;
  width: var(--container-widget-width, 80%);
  max-width: 80%;
  --container-widget-width: 80%;
  --container-widget-flex-grow: 0;
}
.elementor-3210
  .elementor-element.elementor-element-899e763
  .elementor-heading-title {
  color: #333333;
  font-family: "Quicksand", Sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 56px;
}
.elementor-3210
  .elementor-element.elementor-element-899e763
  > .elementor-widget-container {
  padding: 0px 0px 40px 0px;
}
.elementor-3210 .elementor-element.elementor-element-ea142f3 {
  margin-top: 30px;
  margin-bottom: 0px;
}
.elementor-3210
  .elementor-element.elementor-element-d08d3f8
  > .elementor-element-populated {
  padding: 0px 15px 0px 15px;
}
.elementor-3210 .elementor-element.elementor-element-69ab8e0:hover img {
  opacity: 0.85;
}
.elementor-3210 .elementor-element.elementor-element-5f54baa {
  text-align: center;
}
.elementor-3210
  .elementor-element.elementor-element-5f54baa
  .elementor-heading-title {
  color: #333333;
  font-family: "Quicksand", Sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
}
.elementor-3210
  .elementor-element.elementor-element-5f54baa
  > .elementor-widget-container {
  padding: 7px 0px 0px 0px;
}
.elementor-3210
  .elementor-element.elementor-element-c130a14
  > .elementor-element-populated {
  padding: 0px 15px 0px 15px;
}
.elementor-3210 .elementor-element.elementor-element-6a2892f:hover img {
  opacity: 0.85;
}
.elementor-3210 .elementor-element.elementor-element-4cd2a71 {
  text-align: center;
}
.elementor-3210
  .elementor-element.elementor-element-4cd2a71
  .elementor-heading-title {
  color: #333333;
  font-family: "Quicksand", Sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
}
.elementor-3210
  .elementor-element.elementor-element-4cd2a71
  > .elementor-widget-container {
  padding: 7px 0px 0px 0px;
}
.elementor-3210
  .elementor-element.elementor-element-395c382
  > .elementor-element-populated {
  padding: 0px 15px 0px 15px;
}
.elementor-3210 .elementor-element.elementor-element-b46652f:hover img {
  opacity: 0.85;
}
.elementor-3210 .elementor-element.elementor-element-8614549 {
  text-align: center;
}
.elementor-3210
  .elementor-element.elementor-element-8614549
  .elementor-heading-title {
  color: #333333;
  font-family: "Quicksand", Sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
}
.elementor-3210
  .elementor-element.elementor-element-8614549
  > .elementor-widget-container {
  padding: 7px 0px 0px 0px;
}
.elementor-3210
  .elementor-element.elementor-element-6ebcaad:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-3210
  .elementor-element.elementor-element-6ebcaad
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("https://lifeline.webinane.com/wp-content/uploads/2020/12/bg3-2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-3210 .elementor-element.elementor-element-6ebcaad {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 148px 0px 148px 0px;
}
.elementor-3210
  .elementor-element.elementor-element-6ebcaad
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-3210
  .elementor-element.elementor-element-a00a370
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-3210
  .elementor-element.elementor-element-a00a370:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-3210
  .elementor-element.elementor-element-a00a370
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #6b195a;
}
.elementor-3210
  .elementor-element.elementor-element-a00a370
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 15px 0px 25px;
  --e-column-margin-right: 15px;
  --e-column-margin-left: 25px;
  padding: 58px 100px 60px 75px;
}
.elementor-3210
  .elementor-element.elementor-element-a00a370
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-3210
  .elementor-element.elementor-element-71c75d9
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Quicksand", Sans-serif;
  font-size: 45px;
  font-weight: 700;
}
.elementor-3210
  .elementor-element.elementor-element-349a169
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Quicksand", Sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
.elementor-3210
  .elementor-element.elementor-element-349a169
  > .elementor-widget-container {
  padding: 7px 0px 0px 0px;
}
.elementor-3210 .elementor-element.elementor-element-ce2b4cb .elementor-button {
  font-family: "Quicksand", Sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  fill: #ffffff;
  color: #ffffff;
  background-color: var(--e-global-color-primary);
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: var(--e-global-color-primary);
  border-radius: 40px 40px 40px 40px;
  padding: 22px 45px 22px 45px;
}
.elementor-3210
  .elementor-element.elementor-element-ce2b4cb
  .elementor-button:hover,
.elementor-3210
  .elementor-element.elementor-element-ce2b4cb
  .elementor-button:focus {
  color: var(--e-global-color-primary);
  background-color: var(--e-global-color-secondary);
}
.elementor-3210
  .elementor-element.elementor-element-ce2b4cb
  .elementor-button:hover
  svg,
.elementor-3210
  .elementor-element.elementor-element-ce2b4cb
  .elementor-button:focus
  svg {
  fill: var(--e-global-color-primary);
}
.elementor-3210
  .elementor-element.elementor-element-ce2b4cb
  > .elementor-widget-container {
  margin: 16px 0px 0px 0px;
  padding: 20px 0px 0px 0px;
}
.elementor-3210
  .elementor-element.elementor-element-ee00663
  > .elementor-element-populated {
  margin: 0px 15px 0px 15px;
  --e-column-margin-right: 15px;
  --e-column-margin-left: 15px;
  padding: 70px 55px 70px 55px;
}
.elementor-3210
  .elementor-element.elementor-element-7a9f1e2
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-3210 .elementor-element.elementor-element-7a9f1e2 {
  padding: 120px 0px 50px 0px;
}
.elementor-3210
  .elementor-element.elementor-element-f4e0f58
  > .elementor-element-populated {
  padding: 0px 95px 0px 15px;
}
.elementor-3210
  .elementor-element.elementor-element-c35f434
  .elementor-heading-title {
  color: #333333;
  font-family: "Quicksand", Sans-serif;
  font-size: 45px;
  font-weight: 700;
}
.elementor-3210
  .elementor-element.elementor-element-c35f434
  > .elementor-widget-container {
  margin: 0px 0px 15px 0px;
}
.elementor-3210
  .elementor-element.elementor-element-be34ca2
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-3210
  .elementor-element.elementor-element-ff644a9.elementor-view-stacked
  .elementor-icon {
  background-color: #000000;
  fill: #00000000;
  color: #00000000;
}
.elementor-3210
  .elementor-element.elementor-element-ff644a9.elementor-view-framed
  .elementor-icon,
.elementor-3210
  .elementor-element.elementor-element-ff644a9.elementor-view-default
  .elementor-icon {
  fill: #000000;
  color: #000000;
  border-color: #000000;
}
.elementor-3210
  .elementor-element.elementor-element-ff644a9.elementor-view-framed
  .elementor-icon {
  background-color: #00000000;
}
.elementor-3210
  .elementor-element.elementor-element-ff644a9.elementor-view-stacked
  .elementor-icon:hover {
  background-color: #ffffff;
  fill: var(--e-global-color-secondary);
  color: var(--e-global-color-secondary);
}
.elementor-3210
  .elementor-element.elementor-element-ff644a9.elementor-view-framed
  .elementor-icon:hover,
.elementor-3210
  .elementor-element.elementor-element-ff644a9.elementor-view-default
  .elementor-icon:hover {
  fill: #ffffff;
  color: #ffffff;
  border-color: #ffffff;
}
.elementor-3210
  .elementor-element.elementor-element-ff644a9.elementor-view-framed
  .elementor-icon:hover {
  background-color: var(--e-global-color-secondary);
}
.elementor-3210 .elementor-element.elementor-element-ff644a9 {
  --icon-box-icon-margin: 20px;
}
.elementor-3210 .elementor-element.elementor-element-ff644a9 .elementor-icon {
  font-size: 60px;
  padding: 24px;
}
.elementor-3210
  .elementor-element.elementor-element-ff644a9
  .elementor-icon-box-title {
  margin-bottom: 0px;
  color: #171717;
}
.elementor-3210
  .elementor-element.elementor-element-ff644a9
  .elementor-icon-box-title,
.elementor-3210
  .elementor-element.elementor-element-ff644a9
  .elementor-icon-box-title
  a {
  font-family: "Quicksand", Sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 33px;
}
.elementor-3210
  .elementor-element.elementor-element-ff644a9
  .elementor-icon-box-description {
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
}
.elementor-3210
  .elementor-element.elementor-element-ff644a9
  > .elementor-widget-container {
  padding: 0px 0px 10px 0px;
}
.elementor-3210
  .elementor-element.elementor-element-844afa6.elementor-view-stacked
  .elementor-icon {
  background-color: #000000;
  fill: #00000000;
  color: #00000000;
}
.elementor-3210
  .elementor-element.elementor-element-844afa6.elementor-view-framed
  .elementor-icon,
.elementor-3210
  .elementor-element.elementor-element-844afa6.elementor-view-default
  .elementor-icon {
  fill: #000000;
  color: #000000;
  border-color: #000000;
}
.elementor-3210
  .elementor-element.elementor-element-844afa6.elementor-view-framed
  .elementor-icon {
  background-color: #00000000;
}
.elementor-3210
  .elementor-element.elementor-element-844afa6.elementor-view-stacked
  .elementor-icon:hover {
  background-color: #ffffff;
  fill: var(--e-global-color-secondary);
  color: var(--e-global-color-secondary);
}
.elementor-3210
  .elementor-element.elementor-element-844afa6.elementor-view-framed
  .elementor-icon:hover,
.elementor-3210
  .elementor-element.elementor-element-844afa6.elementor-view-default
  .elementor-icon:hover {
  fill: #ffffff;
  color: #ffffff;
  border-color: #ffffff;
}
.elementor-3210
  .elementor-element.elementor-element-844afa6.elementor-view-framed
  .elementor-icon:hover {
  background-color: var(--e-global-color-secondary);
}
.elementor-3210 .elementor-element.elementor-element-844afa6 {
  --icon-box-icon-margin: 20px;
}
.elementor-3210 .elementor-element.elementor-element-844afa6 .elementor-icon {
  font-size: 60px;
  padding: 24px;
}
.elementor-3210
  .elementor-element.elementor-element-844afa6
  .elementor-icon-box-title {
  margin-bottom: 0px;
  color: #171717;
}
.elementor-3210
  .elementor-element.elementor-element-844afa6
  .elementor-icon-box-title,
.elementor-3210
  .elementor-element.elementor-element-844afa6
  .elementor-icon-box-title
  a {
  font-family: "Quicksand", Sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 33px;
}
.elementor-3210
  .elementor-element.elementor-element-844afa6
  > .elementor-widget-container {
  padding: 0px 0px 10px 0px;
}
.elementor-3210
  .elementor-element.elementor-element-2a48d30.elementor-view-stacked
  .elementor-icon {
  background-color: #000000;
  fill: #00000000;
  color: #00000000;
}
.elementor-3210
  .elementor-element.elementor-element-2a48d30.elementor-view-framed
  .elementor-icon,
.elementor-3210
  .elementor-element.elementor-element-2a48d30.elementor-view-default
  .elementor-icon {
  fill: #000000;
  color: #000000;
  border-color: #000000;
}
.elementor-3210
  .elementor-element.elementor-element-2a48d30.elementor-view-framed
  .elementor-icon {
  background-color: #00000000;
}
.elementor-3210
  .elementor-element.elementor-element-2a48d30.elementor-view-stacked
  .elementor-icon:hover {
  background-color: #ffffff;
  fill: var(--e-global-color-secondary);
  color: var(--e-global-color-secondary);
}
.elementor-3210
  .elementor-element.elementor-element-2a48d30.elementor-view-framed
  .elementor-icon:hover,
.elementor-3210
  .elementor-element.elementor-element-2a48d30.elementor-view-default
  .elementor-icon:hover {
  fill: #ffffff;
  color: #ffffff;
  border-color: #ffffff;
}
.elementor-3210
  .elementor-element.elementor-element-2a48d30.elementor-view-framed
  .elementor-icon:hover {
  background-color: var(--e-global-color-secondary);
}
.elementor-3210 .elementor-element.elementor-element-2a48d30 {
  --icon-box-icon-margin: 20px;
}
.elementor-3210 .elementor-element.elementor-element-2a48d30 .elementor-icon {
  font-size: 60px;
  padding: 24px;
}
.elementor-3210
  .elementor-element.elementor-element-2a48d30
  .elementor-icon-box-title {
  margin-bottom: 0px;
  color: #171717;
}
.elementor-3210
  .elementor-element.elementor-element-2a48d30
  .elementor-icon-box-title,
.elementor-3210
  .elementor-element.elementor-element-2a48d30
  .elementor-icon-box-title
  a {
  font-family: "Quicksand", Sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 33px;
}
.elementor-3210
  .elementor-element.elementor-element-2a48d30
  > .elementor-widget-container {
  padding: 0px 0px 10px 0px;
}
.elementor-3210
  .elementor-element.elementor-element-66ac932
  > .elementor-element-populated {
  padding: 0px 15px 0px 15px;
}
.elementor-3210 .elementor-element.elementor-element-9e01990 {
  padding: 70px 0px 120px 0px;
}
.elementor-3210
  .elementor-element.elementor-element-40a5869
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-3210 .elementor-element.elementor-element-995e0e8 {
  --e-image-carousel-slides-to-show: 4;
}
.elementor-3210
  .elementor-element.elementor-element-995e0e8
  .elementor-image-carousel-wrapper
  .elementor-image-carousel
  .swiper-slide-image {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #6b195a;
}
.elementor-3210
  .elementor-element.elementor-element-995e0e8
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
}
@media (max-width: 1024px) {
  .elementor-3210 .elementor-element.elementor-element-f6a85e4 {
    padding: 80px 0px 80px 0px;
  }
  .elementor-3210
    .elementor-element.elementor-element-899e763
    .elementor-heading-title {
    font-size: 25px;
    line-height: 42px;
  }
  .elementor-3210
    .elementor-element.elementor-element-899e763
    > .elementor-widget-container {
    margin: 0px 0px 10px 0px;
    padding: 0px 15px 0px 15px;
  }
  .elementor-3210
    .elementor-element.elementor-element-5f54baa
    .elementor-heading-title {
    font-size: 22px;
    line-height: 30px;
  }
  .elementor-3210
    .elementor-element.elementor-element-4cd2a71
    .elementor-heading-title {
    font-size: 22px;
    line-height: 30px;
  }
  .elementor-3210
    .elementor-element.elementor-element-8614549
    .elementor-heading-title {
    font-size: 22px;
    line-height: 30px;
  }
  .elementor-3210 .elementor-element.elementor-element-6ebcaad {
    padding: 100px 0px 100px 0px;
  }
  .elementor-3210
    .elementor-element.elementor-element-a00a370
    > .elementor-element-populated {
    padding: 50px 40px 50px 40px;
  }
  .elementor-3210
    .elementor-element.elementor-element-71c75d9
    .elementor-heading-title {
    font-size: 30px;
  }
  .elementor-3210
    .elementor-element.elementor-element-349a169
    .elementor-heading-title {
    font-size: 18px;
    line-height: 30px;
  }
  .elementor-3210
    .elementor-element.elementor-element-ce2b4cb
    .elementor-button {
    font-size: 15px;
  }
  .elementor-3210
    .elementor-element.elementor-element-ce2b4cb
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
  .elementor-3210 .elementor-element.elementor-element-7a9f1e2 {
    padding: 80px 0px 50px 0px;
  }
  .elementor-3210
    .elementor-element.elementor-element-f4e0f58
    > .elementor-element-populated {
    padding: 0px 15px 0px 15px;
  }
  .elementor-3210
    .elementor-element.elementor-element-c35f434
    .elementor-heading-title {
    font-size: 30px;
  }
  .elementor-3210
    .elementor-element.elementor-element-ff644a9
    .elementor-icon-box-title,
  .elementor-3210
    .elementor-element.elementor-element-ff644a9
    .elementor-icon-box-title
    a {
    line-height: 30px;
  }
  .elementor-3210
    .elementor-element.elementor-element-844afa6
    .elementor-icon-box-title,
  .elementor-3210
    .elementor-element.elementor-element-844afa6
    .elementor-icon-box-title
    a {
    line-height: 30px;
  }
  .elementor-3210
    .elementor-element.elementor-element-2a48d30
    .elementor-icon-box-title,
  .elementor-3210
    .elementor-element.elementor-element-2a48d30
    .elementor-icon-box-title
    a {
    line-height: 30px;
  }
  .elementor-3210 .elementor-element.elementor-element-9e01990 {
    padding: 70px 0px 70px 0px;
  }
  .elementor-3210 .elementor-element.elementor-element-995e0e8 {
    --e-image-carousel-slides-to-show: 3;
  }
}
@media (max-width: 767px) {
  .elementor-3210 .elementor-element.elementor-element-f6a85e4 {
    padding: 70px 0px 70px 0px;
  }
  .elementor-3210
    .elementor-element.elementor-element-79daed3
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(
      .elementor-widget__width-initial
    ):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
  }
  .elementor-3210
    .elementor-element.elementor-element-899e763
    .elementor-heading-title {
    font-size: 19px;
    line-height: 30px;
  }
  .elementor-3210
    .elementor-element.elementor-element-899e763
    > .elementor-widget-container {
    padding: 0px 0px 0px 0px;
  }
  .elementor-3210
    .elementor-element.elementor-element-d08d3f8
    > .elementor-element-populated {
    margin: 0px 0px 30px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-3210 .elementor-element.elementor-element-69ab8e0 img {
    width: 100%;
  }
  .elementor-3210
    .elementor-element.elementor-element-5f54baa
    > .elementor-widget-container {
    margin: -8px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-3210
    .elementor-element.elementor-element-c130a14
    > .elementor-element-populated {
    margin: 0px 0px 30px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-3210 .elementor-element.elementor-element-6a2892f img {
    width: 100%;
  }
  .elementor-3210
    .elementor-element.elementor-element-4cd2a71
    > .elementor-widget-container {
    margin: -8px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-3210 .elementor-element.elementor-element-b46652f img {
    width: 100%;
  }
  .elementor-3210
    .elementor-element.elementor-element-8614549
    > .elementor-widget-container {
    margin: -8px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-3210 .elementor-element.elementor-element-6ebcaad {
    padding: 80px 0px 80px 0px;
  }
  .elementor-3210 .elementor-element.elementor-element-71c75d9 {
    text-align: center;
  }
  .elementor-3210
    .elementor-element.elementor-element-71c75d9
    .elementor-heading-title {
    font-size: 26px;
  }
  .elementor-3210 .elementor-element.elementor-element-349a169 {
    text-align: center;
  }
  .elementor-3210
    .elementor-element.elementor-element-349a169
    .elementor-heading-title {
    font-size: 16px;
    line-height: 28px;
  }
  .elementor-3210
    .elementor-element.elementor-element-ce2b4cb
    .elementor-button {
    font-size: 14px;
    padding: 17px 20px 17px 20px;
  }
  .elementor-3210
    .elementor-element.elementor-element-ce2b4cb
    > .elementor-widget-container {
    padding: 10px 0px 0px 0px;
  }
  .elementor-3210 .elementor-element.elementor-element-7a9f1e2 {
    padding: 56px 0px 0px 0px;
  }
  .elementor-3210 .elementor-element.elementor-element-c35f434 {
    text-align: center;
  }
  .elementor-3210
    .elementor-element.elementor-element-c35f434
    .elementor-heading-title {
    font-size: 26px;
  }
  .elementor-3210
    .elementor-element.elementor-element-c35f434
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
  .elementor-3210 .elementor-element.elementor-element-ff644a9 {
    --icon-box-icon-margin: 6px;
  }
  .elementor-3210
    .elementor-element.elementor-element-ff644a9
    .elementor-icon-box-title,
  .elementor-3210
    .elementor-element.elementor-element-ff644a9
    .elementor-icon-box-title
    a {
    font-size: 18px;
  }
  .elementor-3210 .elementor-element.elementor-element-844afa6 {
    --icon-box-icon-margin: 6px;
  }
  .elementor-3210
    .elementor-element.elementor-element-844afa6
    .elementor-icon-box-title,
  .elementor-3210
    .elementor-element.elementor-element-844afa6
    .elementor-icon-box-title
    a {
    font-size: 18px;
  }
  .elementor-3210 .elementor-element.elementor-element-2a48d30 {
    --icon-box-icon-margin: 6px;
  }
  .elementor-3210
    .elementor-element.elementor-element-2a48d30
    .elementor-icon-box-title,
  .elementor-3210
    .elementor-element.elementor-element-2a48d30
    .elementor-icon-box-title
    a {
    font-size: 18px;
  }
  .elementor-3210
    .elementor-element.elementor-element-66ac932
    > .elementor-element-populated {
    margin: 40px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-3210 .elementor-element.elementor-element-9e01990 {
    padding: 50px 0px 50px 0px;
  }
  .elementor-3210 .elementor-element.elementor-element-995e0e8 {
    --e-image-carousel-slides-to-show: 2;
  }
}
@media (min-width: 768px) {
  .elementor-3210 .elementor-element.elementor-element-a00a370 {
    width: 57%;
  }
  .elementor-3210 .elementor-element.elementor-element-ee00663 {
    width: 43%;
  }
  .elementor-3210 .elementor-element.elementor-element-f4e0f58 {
    width: 57.193%;
  }
  .elementor-3210 .elementor-element.elementor-element-66ac932 {
    width: 42.139%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-3210 .elementor-element.elementor-element-40a5869 {
    width: 100%;
  }
} /* Start custom CSS for section, class: .elementor-element-d21bb78 */
.custom-icon-box .elementor-icon-box-title strong {
  font-size: 40px;
}
.custom-icon-box .elementor-icon {
  border: 1px solid #cecece !important;
}
@media (max-width: 1024px) {
  .custom-icon-box .elementor-icon-box-title strong {
    font-size: 30px !important;
  }
}
@media (max-width: 1024px) {
  .custom-icon-box .elementor-icon-box-title strong {
    font-size: 25px !important;
  }
} /* End custom CSS */
/* Start custom CSS for image-carousel, class: .elementor-element-995e0e8 */
.elementor-3210
  .elementor-element.elementor-element-995e0e8
  .swiper-slide-image {
  width: 100%;
}
.elementor-3210
  .elementor-element.elementor-element-995e0e8
  img.swiper-slide-image:hover {
  border-color: #f56a01 !important;
} /* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-40a5869 */
.elementor-3210 .elementor-element.elementor-element-40a5869 img:hover {
  transform: scale(0.95);
} /* End custom CSS */

.custom-icon-box .elementor-icon-box-title strong {
  color: #ee7709;
}
